<% layout("/layout/boilerplate") %>
<body>
    <h3>Write Your Review</h3>
    <div class="row mt-3">
        <div class="col-8 offset-2 mb-3">
            <form action="/listings/<%= data._id %>/review/" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="comment">Comment:</label>
                    <textarea id="comment" name="reviews[comment]" column="10" rows="5" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <!-- <label for="rating">Rating:</label> -->
                    <!-- <input name="reviews[rating]" id="rating" required type="range" min="0" max="10"> -->
                    <fieldset class="starability-slot">
                        <legend>First rating:</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                </div>
                <button class="btn btn-info">Sumbit Review</button>
            </form>    
        </div>
    </div>
</body>