<% layout("layout/boilerplate") %>
<body>
    <div class="row"></div>
    <div class="alert-danger alert col-6 offset-3" role="alert">
        <p>Alert hoja teri aisi ki taisi</p>
        <div class="alert-heading">
            <%= err.message %>
        </div>
    </div>
</body>